# Gradle files
.gradle/
local.properties

# IDE files
.idea/

# Lock files
*.lock

# Keystore files
keystore.properties
*.jks

# Build files
build/

# Capture files from Android Studio
captures/

# Logs
*.log